<div class="row-fluid" ng-controller="cigar-entry-controller">
    <form name="createForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="Country">Country</label>

            <div class="controls">
                <input class="input-large" id="Country" name="Country" type="hidden" ui-select2="{tags:{{countries}},tokenSeparators: [',', ' ']}" required
                       ng-model="Cigar.Country">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Manufacturer">Manufacturer</label>

            <div class="controls">
                <input class="input-large" id="Manufacturer" name="Manufacturer" type="text" required
                       ng-model="Cigar.Manufacturer">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Brand">Brand</label>

            <div class="controls">
                <input class="input-large" id="Brand" name="Brand" type="text" required ng-model="Cigar.Brand">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Name">Name</label>

            <div class="controls">
                <input class="input-large" id="Name" name="Name" type="text" required ng-model="Cigar.Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Shape">Shape</label>

            <div class="controls">
                <input class="input-large" id="Shape" name="Shape" type="hidden" ui-select2="{tags:{{shapes}},tokenSeparators: [',', ' ']}" ng-model="Cigar.Shape">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RingGauge">Ring Gauge</label>

            <div class="controls">
                <input class="input-large" id="RingGauge" name="RingGauge" type="text" ng-model="Cigar.RingGauge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Length">Length</label>

            <div class="controls">
                <input class="input-large" id="Length" name="Length" type="text" ng-model="Cigar.Length">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Wrapper">Wrapper</label>

            <div class="controls">
                <input class="input-large" id="Wrapper" name="Wrapper" type="hidden" ui-select2="{tags:{{wrappers}},tokenSeparators: [',', ' ']}" ng-model="Cigar.Wrapper">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Binder">Binder</label>

            <div class="controls">
                <input class="input-large" id="Binder" name="Binder" type="hidden" ui-select2="{tags:{{binders}},tokenSeparators: [',', ' ']}" ng-model="Cigar.Binder">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Filler">Filler</label>

            <div class="controls">
                <input class="input-large" id="Filler" name="Filler" type="hidden" ui-select2="{tags:{{fillers}},tokenSeparators: [',', ' ']}" ng-model="Cigar.Filler">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Color">Color</label>

            <div class="controls">
                <input class="input-large" id="Color" name="Color" type="hidden" ui-select2="{tags:{{colors}},tokenSeparators: [',', ' ']}" ng-model="Cigar.Color">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Strength">Strength</label>

            <div class="controls">
                <input class="input-large" id="Strength" name="Strength" ui-select2="{tags:{{strengths}},tokenSeparators: [',', ' ']}" ng-model="Cigar.Strength">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Appearance">Appearance</label>

            <div class="controls">
                <textarea id="Appearance" name="Appearance" ng-model="Cigar.Appearance" class="input-block-level"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Flavor">Flavor</label>

            <div class="controls">
                <textarea id="Flavor" name="Flavor" ng-model="Cigar.Flavor" class="input-block-level"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Smoke">Smoke</label>

            <div class="controls">
                <textarea id="Smoke" name="Smoke" ng-model="Cigar.Smoke" class="input-block-level"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="OverallImpression">Overall Impression</label>

            <div class="controls">
                <textarea id="OverallImpression" name="OverallImpression" ng-model="Cigar.OverallImpression" class="input-block-level"></textarea>
            </div>
        </div>
        <div class="alert" ng-show="errorsExist()">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div ng-repeat="error in errorMessages">
                <strong>Warning:</strong> <span ng-bind="error"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button ng-click="create()" ng-disabled="createForm.$invalid" class="btn btn-large">Create</button>
                <a href="#/" class="btn btn-large">Cancel</a>
            </div>
        </div>
    </form>
</div>
