<div class="row-fluid" ng-controller="cigar-entry-controller">
    <form name="createForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="Country">Country</label>

            <div class="controls">
                <select class="input-large" id="Country" name="Country" ui-select2="{tokenSeparators: [',', ' ']}" ng-model="Cigar.Country">
                    <option ng-repeat="country in countries" value="{{country}}">{{country}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Manufacturer">Manufacturer</label>

            <div class="controls">
                <input class="input-large" id="Manufacturer" name="Manufacturer" type="text" required
                       ng-model="Cigar.Manufacturer">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Brand">Brand</label>

            <div class="controls">
                <input class="input-large" id="Brand" name="Brand" type="text" required ng-model="Cigar.Brand">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Name">Name</label>

            <div class="controls">
                <input class="input-large" id="Name" name="Name" type="text" required ng-model="Cigar.Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Shape">Shape</label>

            <div class="controls">
                <select class="input-large" id="Shape" name="Shape" ui-select2="{tokenSeparators: [',', ' ']}" ng-model="Cigar.Shape">
                    <option ng-repeat="shape in shapes" value="{{shape}}">{{shape}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="RingGauge">Ring Gauge</label>

            <div class="controls">
                <input class="input-large" id="RingGauge" name="RingGauge" type="text" ng-model="Cigar.RingGauge">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Length">Length</label>

            <div class="controls">
                <input class="input-large" id="Length" name="Length" type="text" ng-model="Cigar.Length">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Wrapper">Wrapper</label>

            <div class="controls">
                <select class="input-large" id="Wrapper" name="Wrapper" multiple ui-select2="{tokenSeparators: [',', ' ']}" ng-model="Cigar.Wrapper">
                    <option ng-repeat="wrapper in wrappers" value="{{wrapper}}">{{wrapper}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Binder">Binder</label>

            <div class="controls">
                <select class="input-large" id="Binder" name="Binder" multiple ui-select2="{tokenSeparators: [',', ' ']}" ng-model="Cigar.Binder">
                    <option ng-repeat="binder in binders" value="{{binder}}">{{binder}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Filler">Filler</label>

            <div class="controls">
                <select class="input-large" id="Filler" name="Filler" multiple ui-select2="{tokenSeparators: [',', ' ']}" ng-model="Cigar.Filler">
                    <option ng-repeat="filler in fillers" value="{{filler}}">{{filler}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Color">Color</label>

            <div class="controls">
                <select class="input-large" id="Color" name="Color" ui-select2="{tokenSeparators: [',', ' ']}" ng-model="Cigar.Color">
                    <option ng-repeat="color in colors" value="{{color}}">{{color}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Strength">Strength</label>

            <div class="controls">
                <select class="input-large" id="Strength" name="Strength" ui-select2="{tokenSeparators: [',', ' ']}" ng-model="Cigar.Strength">
                    <option ng-repeat="strength in strengths" value="{{strength}}">{{strength}}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Appearance">Appearance</label>

            <div class="controls">
                <textarea id="Appearance" name="Appearance" ng-model="Cigar.Appearance" class="input-xxlarge"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Flavor">Flavor</label>

            <div class="controls">
                <textarea id="Flavor" name="Flavor" ng-model="Cigar.Flavor" class="input-xxlarge"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Smoke">Smoke</label>

            <div class="controls">
                <textarea id="Smoke" name="Smoke" ng-model="Cigar.Smoke" class="input-xxlarge"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="OverallImpression">Overall Impression</label>

            <div class="controls">
                <textarea id="OverallImpression" name="OverallImpression" ng-model="Cigar.OverallImpression" class="input-xxlarge"></textarea>
            </div>
        </div>
        <div class="alert" ng-show="errorsExist()">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div ng-repeat="error in errorMessages">
                <strong>Warning:</strong> <span ng-bind="error"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button ng-click="create()" ng-disabled="createForm.$invalid" class="btn btn-large">Create</button>
                <a href="#/" class="btn btn-large">Cancel</a>
            </div>
        </div>
    </form>
</div>
