<div class="row-fluid" ng-controller="user-change-email-controller">
    <form name="changeEmailForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="Email">Email </label>
            <input class="input-large" id="Email" name="Email" type="email" unique-Email required ng-model="brewer.Email" >
        </div>
        <div class="alert" ng-show="errorsExist()">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div ng-repeat="error in errorMessages">
                <strong>Warning:</strong> <span ng-bind="error"></span>
            </div>
        </div>
        <div class="control-group">
            <button ng-click="changeEmail()" ng-disabled="changeEmailForm.$invalid" class="btn btn-large" >Submit</button>
            <a href="#/" class="btn btn-large">Cancel</a>
        </div>
    </form>
</div>
