<div class="row-fluid" ng-controller="user-profile-controller">
    <form name="registerForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="UserName">User Name </label>
            <div ng-bind="brewer.UserName" ></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="FirstName">First Name </label>
            <input class="input-large" id="FirstName" name="FirstName" type="text" required ng-model="brewer.FirstName">
        </div>
        <div class="control-group">
            <label class="control-label" for="LastName">Last Name </label>
            <input class="input-large" id="LastName" name="LastName" type="text" required ng-model="brewer.LastName">
        </div>
        <div class="control-group">
            <label class="control-label" for="Email">Email </label>
            <div ng-bind="brewer.Email" ></div>
        </div>
        <div class="control-group">
            <label class="control-label" for="Location">Location </label>
            <input class="input-large" id="Location" name="Location" type="text" ng-model="brewer.Location">
        </div>
        <div class="control-group">
            <label class="control-label" for="Bio">Bio </label>
            <textarea id="Bio" name="Bio" ng-model="brewer.Bio" class="input-large"></textarea>
        </div>
        <div class="control-group">
            <label class="control-label" for="WebSite">Web Site </label>
            <input class="input-large" id="WebSite" name="WebSite" type="text" ng-model="brewer.WebSite">
        </div>
        <div class="alert" ng-show="errorsExist()">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div ng-repeat="error in errorMessages">
                <strong>Warning:</strong> <span ng-bind="error"></span>
            </div>
        </div>
        <div class="control-group">
            <button ng-click="register()" ng-disabled="registerForm.$invalid" class="btn btn-large" >Update</button>
            <a href="#/" class="btn btn-large">Cancel</a>
        </div>
        <div class="control-group">
            <button ng-click="changePassword()" class="btn btn-large" >Change Password</button>
            <button ng-click="changeEmail()" class="btn btn-large" >Change Email</button>
        </div>
    </form>
</div>
